@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: "glitch";
  src: url('../public/fonts/Bad\ Signal.otf');
}
@font-face {
  font-family: "nexa";
  src: url('../public/fonts/Nexa-Heavy.ttf');
}
#dev{
  font-family: nexa;
}
#name{
  font-family: glitch;
  font-weight: 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  scroll-snap-type:y mandatory;
  scroll-behavior:smooth;
  overflow-y: auto;
  scrollbar-width:none;
  color: white;
  &::-webkit-scrollbar{
    display:none;
}
}
section{
  scroll-snap-type:y mandatory;
  scroll-behavior:smooth;
  overflow-y: auto;
  scrollbar-width:none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  canvas{
    height: 400px;
  }
}